.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
  color:#4a4a4a !important;
}

h2 {
  font-size: 1.5 em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.5em;
}



.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post a{
  color:#3b8bba;
}

.prev-next-post a:visited{
  color:#265778;
}

.tags-title{
  color:#3b8bba;
}

.tags-title:visited{
  color:#3b8bba;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}


.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

.post-short-body{
  margin-top:20px;
  border-left: 3px solid #999999;
  padding-left: 30px;
  margin-bottom: 10px;
}

.post-short-header{
  color: #4a4a4a;
}

.post-short-header:visited{
  color: #4a4a4a;
}

.post-short-item{
  margin-top:0px;
  margin-bottom: 0px;
}

.read-more a{
  color:#349ef3;
}

.read-more a:visited{
  color:#349ef3;
}

.post-short-content{
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.tag-a{
  color:#349ef3;
  border:1px solid #349ef3;
  padding:1px 8px;
  border-radius: 4px;
  margin-right: 5px;
}
.tag-a:hover{
  text-decoration:none;
  color:#999999 !important;
  border-color: #999999 !important;
}


.tag-a:visited{
  color:#349ef3;
  text-decoration:none;
}

.content img{
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px){
  .content{
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media screen and (max-width: 500px){
  .content{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 400px){
  .content{
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 300px){
  .content{
    padding-left: 2px;
    padding-right: 2px;
  }
}
